.intro-background {
  background-color: #f5f2e3;
  padding: 0;
  display: flex;
  justify-content: center;
}

.intro-columns-wrapper {
  max-width: 1230px;
}

.intro-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  margin: 0 100px;
  color: black;
}

.intro-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.intro-vanity video {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
