/*-------------------------------------------*\ 
  quick-links.css
  
  The Quick Links & Databases section provides the most commonly
  used links just below the search bar.  
  
  ORGANIZATION:
      div.section-background#explore-background
      └── div.section-body#explore-body
          ├── h2.heading#explore-heading
          └── div.explore-divs
              ├── div#learning-resources
              │   ├── h3.explore-title
              │   └── ul
              ├── div#collections
              └── div#socialmedia
\*-------------------------------------------*/

#explore-background {
  background-color: #f5f2e3;
}

.explore-divs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.explore-div {
  color: black;
  background-color: white;
  padding: 25px;
  border-radius: 25px;
}

.explore-divs .explore-div ul {
  margin-top: 5px;
  list-style-type: none;
  padding-left: 0;
}

.explore-divs .explore-div h3.explore-title {
  font-size: 2rem;
  font-weight: bold;
}

.explore-divs .explore-div ul li {
  margin-bottom: 5px;
}

.explore-divs .explore-div ul li a {
  font-size: 16px;
  color: black;
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .explore-divs {
    gap: 15px;
  }
}

@media screen and (max-width: 767px) {
  .explore-divs {
    display: flex;
    flex-direction: column;
  }
}
