* {
    box-sizing: border-box;
}

body .hours p {
	margin-bottom: 0;
}

#tabbed-content-sidebar-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0 30px;
    padding: 0 10%;
    margin-bottom: 1000px;
}

table.hours-today {
	width:100%;
    display:block;
}

table.hours-today tbody, #libchat-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.tab {
    letter-spacing: 0.5px;
    background-color: #85100A;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 32px;
    width: fit-content;
    padding: 0px 10px;
    margin-left: 20px;
}

td.hours-col-time {
    text-align: right;
}
td.hours-col-time br {
	content:'';
}

td.hours-col-time br:after{
	content:'& ';
}

table.hours-today td.link {
	display:block;
    text-decoration: none;
    margin: 0;
}

table.hours-today tr{
	width: 100%;
}

table.hours-today tr.dep5012{
	display: none;
}

table.hours-today tr.hours-alt {
    display: flex;
    flex-direction: row;
    color: black;
    margin-bottom: 0;
}

th.hours-col-loc, td.hours-col-time {
    font-weight: normal;
    width: 100%;
    display: flex;
    white-space: nowrap;
}

tr.loc5008 .hours-col-loc, tr.loc5008 .hours-col-time {
    font-weight: bold;
}

.chat-hours {

	width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
	margin-bottom: 5px;
}

.hours, .tabbed-table {
    width: 100%;
}


.chat-hours a:hover {
	text-decoration: none;
    color: inherit;
}

#pagecontent .chat-hours .btn-gold {
	width:80%;
	max-width: 300px;
	float: right;
	margin-top: 10px;
}


.link-text {
    color: black;
}

#consult-tabbed-div {
    margin-top: 30px;
}



#hours-quick-links-section {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.col-md-4.col-sm-4.col-xs-12 {
    color:black;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px;
    margin:0 !important;
}

.col-md-4.col-sm-4.col-xs-12 h3 {
    font-family: "utopia-std", serif;
}

.col-md-4.col-sm-4.col-xs-12 .text-new.content.circle {
    display:grid;
    row-gap:5px;
}

.responsive-columns.section {
    margin:0 100px 70px 100px;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    position:relative;
}

.responsive-columns.section .row{
    margin:0; 
}

.no-bullet-list {
    list-style-type: none;
    padding-left: 0;
}
.no-bullet-list li{
    margin-bottom: 4px;
}

@media screen and (max-width: 1110px){
    .responsive-columns.section {
        margin:0; 
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 992px){
    .chat-hours {
        flex-direction: column;
    }
    
    
}
@media screen and (max-width: 991px){

    .col-md-4.col-sm-4.col-xs-12 {
        width: 100% !important;
    }
    .chat-hours {
        flex-direction: row;
        column-gap: 30px;
    }
    .responsive-columns.section {
        margin:0 0 15px 0; 
    }
    .responsive-columns.section .row {
        display:flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 428px){
    .chat-hours {
        flex-direction: column;
    }
}
