.chat-hours {
	margin-bottom: 20px;
	width: 100%;
	line-height: 36px;
}

.chat-hours a {
	color: #ffffff;
	width:100%;
	padding:0 10px;
	display:block;
	background-color: #84a1ab;
}

.chat-hours a:before {
	content: "\e62e";
    font-family: 'icomoon';
	padding-right: 6px;
	padding-top: 6px;
	font-weight: normal;
}

.chat-hours a:hover {
	background-color: #487583;
	text-decoration: none;
}

.chat-hours a:hover span.link-text {
	text-decoration: underline;
}

#pagecontent .chat-hours .btn-gold {
	width:80%;
	max-width: 300px;
	float: right;
	margin-top: 10px;
}

.hours {
}

table.hours-today {
	width:100%;
}

table th.hours-col-loc {
	display: block;
	padding:0 10px;
	border-bottom: 1px solid #ffffff;
	font-size: 18px;
	line-height: 40px;
}

table td.hours-col-time {
	display: block;
	font-weight:200;
	padding:0 10px;
	background-color: #668b97;
	border-bottom: 1px solid #ffffff;
}

table td.hours-col-time br{
	content:'';
}
table td.hours-col-time br:after{
	content:'& ';
}

table td.link {
	display:block;
}

table tr.hours-alt td.link {
	font-weight: bold;
}

table.hours-today tr{
	display: inline-block;
	width: 100%;
	/*padding:0 0 1px;*/
	margin-bottom: 10px;
	color:#fff;
	background-color: #33535D;
}
table.hours-today tr.dep5012{
	display:none;
}
div#libchat_89869b0c11c3b20ddcf044f4db5e59e2 a::before {
	display:none;
}

#libchat_89869b0c11c3b20ddcf044f4db5e59e2 img {
	padding: 10px;
	padding-left: 0px;
}

body .hours p {
	margin-bottom:0px

}

.input-group-btn{
	display:inline;

}

.accessibility-text {
	display:none;

}

.library-search {
	margin-left:55px;


}

.library-search button {
	margin-top:4px;

}

#pagecontent .library-search .btn.btn-default, #pagecontent .library-search .btn {
	width:auto;
}

.library-search input {
	width:75%;
	height: 34px;
    vertical-align: bottom;
	padding-left: 5px;
	border: 0px solid;
	border-radius:0px;
	position: relative;
    vertical-align: top;
	bottom: -4px;
	color: #222;

}

.library-search .twitter-typeahead input {
	width:100%;

}

.search-form {
	width:100%;

}
.library-search form {
	display:inline;
	margin-right:10px;
}


.advanced-wrapper {
	display:block;
	vertical-align:bottom;
	padding-bottom: 6px;
	margin-top: 5px;

}

.advanced-wrapper a {
	display:inline-block;
}

.search-all .advanced-wrapper {

}

#s-lg-widget-1440420573742, .search-form {
	display:inline-block;
	width: 100%;
}

#s-lg-embedded-search-widget-1440420573742 .s-lg-form-control	{
	width:75% !important;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-size:16px !important;
	border: 0px solid !important;
	padding:1px 0px 1px 5px !important;
	-webkit-appearance: none  !important;
   -moz-appearance: none  !important;
   appearance: none  !important;
   -webkit-border-radius: 0px  !important;
	-moz-border-radius: 0px  !important;
	border-radius: 0px  !important;
	transition: none !important;
	box-shadow:none !important;
	height:34px !important;
	line-height: 26px !important;
	color: #222!important;
}

.s-lg-btn-api-drop.btn.btn-default {
	background: #dccaa0;
    color: #000!important;
    border: 0;
	font-family:"Open Sans", Helvetica, Arial, sans-serif !important;
	padding:8px 20px;
	padding-left: 20px !important;
	padding-right: 20px !important;
	font-size:14px !important;
	margin-left:-1px!important;
	margin-top:4px !important;
	line-height:18px !important;

}
.s-lg-btn-api-drop.btn.btn-default:hover {
    color: #fff!important;
    background: #a78e56;
    border: 0;

}

.library-search {
	margin-bottom:1px;
}
.library-search.search-all {

}

.tabs-section-new.folder-neutral {
	padding-bottom:0px;

}
.social-icons {
	text-align:center;
}

.social-icons .social {

    margin-left: auto;
    margin-right: auto;
}

	.social ul {
		list-style:none;
		padding:10px;

	}

	.social li, .social li:hover {
		display:inline;
		font-size: 60px;
		padding: 20px;
		text-decoration:none;


	}


	.social li a {
		color: #dccAA0;
		text-decoration:none;

	}

	.social li a:hover {
		text-decoration:none;
		color: #fff;

	}

.bc-image img {

	width:100%
}

/* Typeahead */
/* See https://github.com/twitter/typeahead.js/blob/master/doc/jquery_typeahead.md#user-content-look-and-feel */

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-dropdown-menu {
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	color: #555;
	width: 100%;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 16px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #487583;
}
.twitter-typeahead {
	width: 75%;
	vertical-align: top;
}

.emergency_closing {
	text-align: center;
	padding: 40px;
	margin-bottom: 30px;
	color: black;
	background-color: #f8c21c;
	font-size: 24px;
	line-height:1.5em;
}


@media (max-width: 1425px) and (min-width: 1287px) {
	.hours {

	}
	/*
	#libchat_btn_widget img, #libchat_89869b0c11c3b20ddcf044f4db5e59e2 img{
	    height:100px;
	}

	#libchat_btn_widget, #libchat_89869b0c11c3b20ddcf044f4db5e59e2 {
	padding: 50px 20px;
    float: right;

	}
	*/

}

@media (max-width: 1286px) and (min-width: 1126px) {
	.hours {

	}
	/*
	#libchat_btn_widget img, #libchat_89869b0c11c3b20ddcf044f4db5e59e2 img{
	    height:115px;
	}
	#libchat_btn_widget, #libchat_89869b0c11c3b20ddcf044f4db5e59e2 {
	padding: 0px 10px 7px;
	margin-top: -22px;
	float:right;
	}
	*/
}

@media (max-width: 1125px) and (min-width: 1021px) {
	.hours {

	}
	/*
	#libchat_btn_widget img, #libchat_89869b0c11c3b20ddcf044f4db5e59e2 img{
	    height:105px;
	}
	#libchat_btn_widget, #libchat_89869b0c11c3b20ddcf044f4db5e59e2 {
	padding: 0px 20px 7px 5px;
	margin-top: -22px;
	float:right;
	}
	*/

}
/*@media (max-width: 1298px) {
	.advanced-wrapper {
		margin-left: 0px;
		margin-top: 5px;
		display:block
	}
}*/


@media (max-width: 1020px) {

	/*
	#libchat_btn_widget, #libchat_89869b0c11c3b20ddcf044f4db5e59e2{
	  margin-left: 135px;
	}
	.col-md-3, .col-md-9 {
		width:100%;
		margin-bottom: 20px;
	}
	#libchat_btn_widget, #libchat_89869b0c11c3b20ddcf044f4db5e59e2 {
	    float: right;

	}
	*/
	.chat-hours {
		margin-bottom: 0;
	}

}

@media (max-width: 1020px) and (min-width: 992px) {
		.twitter-typeahead {

	}
	.search-all .advanced-wrapper {


	}

}

@media screen and (max-width: 991px) and (min-width: 768px), screen and (max-width: 767px) {
	#s-lg-embedded-search-widget-1440420573742 .s-lg-form-control, .s-lg-btn-api-drop.btn.btn-default  {
		font-size: 14px!important;
	}


}




@media (max-width: 767px) {
	.library-search {
		margin-left: -10px;

	}

	.chat-hours {

	}



	/*
	#libchat_btn_widget, #libchat_89869b0c11c3b20ddcf044f4db5e59e2 {
		margin-left:0px;
		margin-right:10%;
	}
	*/

	.featured-section .responsive-columns.section .row > div.col-md-6  { /*eliminate excess space in Databases and Quicklinks lists */
		margin-bottom:0px;
	}

	.featured-section ul {
		margin-bottom:0px;
		list-style: none;
	}


}



@media (max-width: 465px) {

	.twitter-typeahead {

	}

	.twitter-typeahead, .library-search input, #s-lg-embedded-search-widget-1440420573742 .s-lg-form-control  {
	width: 100% !important;
	bottom: 0px;
	}

	.search-all .advanced-wrapper {


	}
	/*
	#libchat_btn_widget, #libchat_89869b0c11c3b20ddcf044f4db5e59e2 {
		margin-right:0px;
	}
	*/



}
@media (max-width: 360px) {
	.chat-hours {
		text-align:center
	}
	/*
	#libchat_btn_widget, #libchat_89869b0c11c3b20ddcf044f4db5e59e2, .hours {
		margin:auto;
		width:100%
	}
	*/
	.hours-today {
		text-align: center;
		width: 100%;
	}



}




/*
input#typeahead {
    line-height: 20px;
}

.typeahead-type {
    color: #ddd;
}

.twitter-typeahead {
    float: left;
    width: 600px;
}

#block_search input[type=text] {
    width: 600px;
    height: 33px;
    float: left
}

#block_search input[type=text]#typeahead {
    width: 610px;
}

@media ( max-width: 1199px ) {
    .twitter-typeahead {
        float: left;
        width: 90%;
    }

    #block_search input[type=text] {
        width: 100%;
        height: 33px;
        float: left
    }

    #block_search input[type=text]#typeahead {
        width: 100%;
    }
}

@media ( max-width: 768px ) {
    .twitter-typeahead {
        float: none;
        width: 100%;
    }
}

#guides-results {
    margin-bottom: 1em;
}
*/
/* End typeahead */
