#hours table {
	font-size:14px;
	
}


#hours .btn.btn-default {
	font-size:30px;
	color:#555;
	background-color:#EDEFEF;
}

#hours .btn.btn-default:hover {
	background-color:#fff;
}



.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
	border-bottom: 2px solid #DCCAA0;
}

.s-lc-mhw-days {
	font-weight:bold;
}

.s-lc-whw-cont .table thead tr th {
	border-bottom:0px solid #fff;
}

tbody tr.s-lc-whw-loc-tr-5008:nth-child(1) td {
	border-top:1px solid #0873AE;
	display:none;
}

tbody tr.s-lc-whw-loc-tr-5008:nth-child(2) td {
	border-top:1px solid #C23148;
}
tbody tr.s-lc-whw-loc-tr-5008:nth-child(3) td {
	border-top:1px solid #DE9600;
	display:none;
}







